* {
  margin: 0;
}

.app {
  background-color: #fafafa;
 

}

.app_header {
  background-color: white;
  padding: 20px;
  border-bottom: 1px solid lightgray;
  object-fit: contain;
  

}
.app_headerImage{
  width: 11%;

  height: auto;
  vertical-align: middle;

}

.app_posts{
  position: absolute;
  left: 30%;
  top: 85%;
  transform: translate(-50%, -50%);
  padding: 10px;
}

.postsRender{
  padding-top: 50px;
  padding-right: 30px;
  padding-bottom: 50px;
  padding-left: 500px;
  
}

.post_Container{
  padding-top: 50px;
  padding-right: 30px;
  padding-bottom: 50px;
  padding-left: 500px;


}